{% extends 'admin/index.html.twig' %}

{% block title %}Edit Classes{% endblock %}

{% block body %}
    <div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8 mx-auto">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4 text-white">Edit Classes</h6>
                {{ include('admin/classes/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('admin/classes/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
