<form method="post" action="{{ path('app_admin_nutrition_plans_delete', {'id': nutrition_plan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nutrition_plan.id) }}">
    <button class="btn">Delete</button>
</form>
